/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 @font-face {
  font-family: "Ultramagnetic_Regular";
  src: url(ultramagnetic_regular.ttf);
 }

 @font-face {
  font-family: "Museo_Slab_500";
  src: url(Museo_Slab_500_2-webfont.woff);
 }

 @font-face {
  font-family: "Thirsty_Script";
  src: url(ThirstyScriptExtraBoldDemo.otf);
 }

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

html {
  font-family: "Ultramagnetic_Regular", Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
}

.body-content {
  max-width: 1170px;
  margin: auto;
}

h2 {
  text-transform: uppercase;
}

.banner {
  background-color: #ece9e9;
  text-align: right;
  color: #d41b67;
  height: 55px;
  font-family: "Museo_Slab_500";
}

.banner ul {
  margin: 0;
}

.banner li {
  display: inline-block;
  font-size: 1.2em;
  margin-left: 15px;
  padding: 3px 0px;
  font-size: 18px;
}

.banner a {
  text-decoration: none;
  color: #d41b67;
}

header {
  background-color: #d41b67;
  color: #fff;
  height: 80px;
  margin: 0;
  font-size: 18px;
  min-height: 101px;
}

.header-logo {
  float: left;
  padding: 5px 40px;
}

.main-nav {
  float: right;
}

.main-nav ul {
  list-style: none;
  margin: 0;
}

.main-nav ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 40px 10px;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
}

.main-nav a.btn {
  color: #00ade7;
}

.btn {
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #fff;
}

.hero {
  clear: both;
}

.hero img {
  width: 100%;
  margin: 0;
}

.intro {
  padding: 125px 0px 30px 0px;
  text-align: center;
  display: block;
}

.circle {
  display: inline-block;
  margin: 0px 5px;
  padding: 35px 20px 15px 20px;
  width: 230px;
  height: 230px;
  border: 10px solid #fff;
  border-radius: 140px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  color: #fff;
}

.orange {
  background-color: #f08a1c;
}

.green {
  background-color: #58c430;
}

.blue {
  background-color: #00a8e1;
}

.circle h3 {
  font-family: "Thirsty_Script", "Times New Roman", Georgia, serif;
  font-size: 30px;
  line-height: 20px;
  margin-bottom: 7px;
}

.circle p {
  font-family: "Museo_Slab_500", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.intro p.large {
  color: #d41b67;
  font-size: 27px;
  line-height: 34px;
  margin-top: 30px;
}

.call-for-volunteers {
  text-align: right;
  color: #635d58;
  font-size: 1.2em;
  padding: 30px 10px 0px 10px;
  overflow: auto;
}

.call-for-volunteers h2 {
  color: #00a8e1;
  font-size: 44px;
  line-height: 44px;
  margin-top: 30px;
}

.call-for-volunteers h4 {
  font-size: 27px;
  line-height: 27px;
  margin-top: 30px;
}

.call-for-volunteers p {
  font-family: "Museo_Slab_500";
  font-size: 18px;
  line-height: 27px;
}

.green-button {
  color: #58c430;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Museo_Slab_500";
  padding: 12px;
  border-radius: 50px;
  border: 2px solid #58c430;
}

.volunteer-info {
  width: 50%;
  float: left;
  padding: 0px 15px;
  margin-bottom: 30px;
}

.call-for-volunteers img {
  width: 50%;
  float: right;
  padding: 0px 15px;
}

.sponsors {
  clear: both;
  font-family: "Museo_Slab_500";
  text-align: center;
  background-color: #635d58;
  color: #fff;
  padding: 30px 0px;
}

.sponsors p {
  margin: 0px 0px 30px 0px;
}

.sponsor-logo {
  padding: 0px 15px 15px 15px;
}

.sponsors a {
  text-decoration: none;
}

.social {
  clear: both;
  color: #424dae;
}

.social h4 {
  font-size: 2em;
}

footer {
  background-color: #635d58;
  color: #fff;
  text-align: center;
  font-family: "Museo_Slab_500";
  padding: 60px 0px;
}

.footer-content {
  padding: 0px 10px;
}

footer a {
  color: #fff;
}

.footer-section {
  width: 33%;
  float: left;
  padding: 0px 15px;
  margin-bottom: 30px;
}

.footer-section h4 {
  font-size: 27px;
  line-height: 32px;
  padding-bottom: 15px;
  border-bottom: 5px solid #504d4a;
  margin: 0px 0px 7.5px 0px;
}

.footer-section p {
  font-size: 18px;
  line-height: 8px;
}

.social-icons {
  clear: both;
  margin-bottom: 30px;
}

.social-icon {
  margin-left: 15px;
}

.privacy {
  font-size: 13.5px;
  margin-bottom: 30px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
